/* Css reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root variables  */
:root {
    --bg-dark: #0f0f0f;
    --bg-light: #181818;

    --text-primary: #ffffff;
    --text-secondary: #b3b3b3;

    --accent: #00ffd5; /* accent color */
    --accent-hover: #00c9a7;

    --border-radius: 12px;
    --transition: all 0.3s ease;
}

/* Global Styles  */
body {
    background-color: var(--bg-dark);
    color: var(--text-primary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

/* Utility classes */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

section {
    padding: 80px 0;
}

/* SCROLL REVEAL */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
/* Scroll to top  */
#scrollTopBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: var(--accent);
    color: #000;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    z-index: 999;
}

#scrollTopBtn.show {
    opacity: 1;
    visibility: visible;
}

#scrollTopBtn:hover {
    transform: translateY(-4px);
    background: var(--accent-hover);
}

/* =====================
   GLOBAL BUTTONS
===================== */

.btn-primary {
    padding: 13px 30px;
    background: var(--accent);
    color: #000;
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: 600;
    transition: var(--transition);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-primary:hover {
    background: var(--accent-hover);
    transform: translateY(-2px);
}

/* OUTLINE */

.btn-outline {
    padding: 13px 30px;
    border: 2px solid var(--accent);
    color: var(--accent);
    border-radius: var(--border-radius);
    text-decoration: none;
    transition: var(--transition);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-outline:hover {
    background: var(--accent);
    color: #000;
    transform: translateY(-2px);
}