<footer class="footer">

    <div class="container footer-content">

        <div class="footer-top">

            <h2>Viran</h2>

            <p>
                Building systems with logic, clarity,
                and continuous learning.
            </p>

        </div>

        <!-- SOCIAL LINKS -->
        <div class="footer-socials">
            <a
                href="https://github.com/viran-max"
                target="_blank"
            >
                GitHub
            </a>
            <a
                href="https://www.linkedin.com/in/viran-404b13358/"
                target="_blank"
            >
                LinkedIn
            </a>
            <a
                href="mailto:verain.k1801@gmail.com"
            >
                Email
            </a>
        </div>
        <!-- BOTTOM -->
        <div class="footer-bottom">
            <p>
                © 2026 Viran. All rights reserved.
            </p>
        </div>

    </div>

</footer>