<nav class="navbar" id="navbar">

    <div class="nav-container">

        <!-- LOGO -->
        <a href="#hero" class="logo">

            <div class="logo-image">

                <img
                    src="{{ url_for('static', filename='images/first.png') }}"
                    alt="Portfolio Logo"
                    class="logo-img"
                />

            </div>

            <div class="logo-text">

                <h2>Viran</h2>
                <p>Backend Learner</p>

            </div>

        </a>

        <!-- NAV LINKS -->
        <ul class="nav-links" id="nav-links">

            <li>
                <a href="#about">About</a>
            </li>

            <li>
                <a href="#skills">Skills</a>
            </li>

            <li>
                <a href="#projects">Projects</a>
            </li>

            <li>
                <a href="#contact" class="nav-contact-btn">
                    Contact
                </a>
            </li>

        </ul>

        <!-- MOBILE TOGGLE -->
        <div class="menu-toggle" id="menu-toggle">

            <span></span>
            <span></span>
            <span></span>

        </div>

    </div>

</nav>