<section class="skills" id="skills">
  <div class="container reveal">
    <p class="skills-tag">⚡ Skills & Technologies</p>
    <h2 class="section-title">
      Building Strong Fundamentals
      <span>One Layer at a Time</span>
    </h2>

    <p class="section-subtitle">
      Technologies I’ve learned, explored, and continue improving
      through projects and deep understanding.
    </p>

    <div class="skills-grid">

      <!-- LANGUAGES -->
      <div class="skill-card">

        <h3>Languages</h3>

        <div class="skill-items">
          <span>C</span>
          <span>C++</span>
          <span>Python</span>
          <span>JavaScript</span>
        </div>

      </div>

      <!-- FRONTEND -->
      <div class="skill-card">

        <h3>Frontend</h3>

        <div class="skill-items">
          <span>HTML</span>
          <span>CSS</span>
          <span>Responsive Design</span>
          <span>React</span>
        </div>

      </div>

      <!-- BACKEND -->
      <div class="skill-card">

        <h3>Backend</h3>

        <div class="skill-items">
          <span>Flask</span>
          <span>Node.js</span>
          <span>Express.js</span>
          <span>REST APIs</span>
        </div>

      </div>

      <!-- DATABASE -->
      <div class="skill-card">

        <h3>Databases</h3>

        <div class="skill-items">
          <span>MySQL</span>
          <span>MongoDB</span>
        </div>

      </div>

      <!-- DATA Analysis -->
      <div class="skill-card">

        <h3>Data analysis Libraries</h3>

        <div class="skill-items">
          <span>NumPy</span>
          <span>Pandas</span>
          <span>Matplotlib</span>
          <span>Seaborn</span>
        </div>

      </div>

      <!-- PROJECT EXPERIENCE -->
      <div class="skill-card">

        <h3>Deployment & Coding Tools</h3>

        <div class="skill-items">
          <span>Git</span>
          <span>Github</span>
          <span>Vercel</span>
          <span>Render</span>
          <span>Netlify</span>
        </div>

      </div>

    </div>

  </div>

</section>